body{
	background-image: url('../images/Fondo.jpg');
}

#titulo img{
	margin: 1em 34em;
}

#titulo h1{
	font-size: 4em;
	font-weight: bold;
	text-align: center;
	color: white;
}

#t{
	margin-left: 8.5em;
}

#descrip{
	text-align: center;
	color: white;
}

#descrip #tex{
	font-size: 2em;
}

#descrip #leyenda{
	font-size: 1.3em;
}

#busq{
	display: inline-block;
    vertical-align: top;
}

#busq button{
	display: none;
	margin: 0 0 0 17em;
	font-size: 2em;
	border-radius: 8px;
}

#buscador{
	display: none;
	margin-left: 4em;
}

#buscador #submit{
	border-radius: 8px;
}

#busq span{
	margin-left: 12.5em;
	margin-top: 0.2em;
	color: white;
    font-size: 2em;
}

#busq input{
	font-size: 1.2em;
	margin-bottom: 1em;
}

#tiempo{
	margin: 2em 20em;
	padding: 1em;
	background-color: orange;
	display: none;
	border: 2px solid;
}

#tiempo h3, h4{
	text-align: center;
}

#tiempo #icono{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#tiempo #temp{
	margin: 0 5em;
}

#tiempo #max{
	float: right;
}

#abajo{
	background-color: grey;
}

#abajo span{
	color: white;
	font-size: 1.75em;
}

#seg{
	float: right;
	margin-top: 0.2em;
}

#abajo img{
	height: 30px;
	width: 30px;
	margin-top: 0.3em;
}

#imagen {
	margin-left: 1em;
}

#simagen{
	margin-right: 1em;
}